<app-navigation></app-navigation>
<div class="div-wrap">
  <h2>Add Mother Panel</h2>
  <form [formGroup]="addDetails" (ngSubmit)="addData()" class="form-content">
    <div class="add_website_block">
      <div id="userSearchUl" class="search-wrap">
        <div class="searchbox">
          <div class="business-panel">
            <select class="business-option" formControlName="business">
              <option value="">Choose Business</option>
              <option value="B2B">B2B</option>
              <option value="B2C">B2C</option>
            </select>
            <p *ngIf="addDetails.get('business').invalid && addDetails.get('business').touched" class="validations-TTp" style="margin-left: 7px;">
              <span *ngIf="addDetails.get('business')?.errors?.['required']" class="text-danger error-message-place">please select business.</span>
            </p>

          </div>
          <div class="business-panel">
            <select class="business-option" formControlName="panelFor">
              <option value="">Choose User</option>
              <option value="AGENT">Agent</option>
              <option value="USER">User</option>
            </select>
            <p *ngIf="addDetails.get('panelFor').invalid && addDetails.get('panelFor').touched" class="validations-TTp" style="margin-left: 7px;">
              <span *ngIf="addDetails.get('panelFor')?.errors?.['required']" class="text-danger error-message-place">please select user.</span>
            </p>
          </div>
          <div class="userid">
            <input id="searchUserId" type="text" minlength="4" maxlength="20" formControlName="name"
               placeholder="Enter Name" required=""
              class="search-input searchTB" style="margin-right: 10px;" ng-reflect-required="" ng-reflect-name="name">
            <p *ngIf="addDetails.get('name').invalid && addDetails.get('name').touched" class="validations-TTp topPWidth">
              <span *ngIf="addDetails.get('name')?.errors?.['required']" class="text-danger error-message-place">name is
                required.</span>
              <span *ngIf="addDetails.get('name')?.errors?.['minlength']" class="text-danger error-message-place">name must be at least 4 characters long</span>
              <span *ngIf="addDetails.get('name')?.errors?.['pattern']" class="text-danger error-message-place">Special
                characters are not allowed.</span>
            </p>

          </div>
          <div class="userid">
            <input id="searchUserId" type="text" maxlength="14" minlength="2" formControlName="userId"
              (keydown.space)="$event.preventDefault()" placeholder="Enter UserId" required=""
              class="search-input searchTB" style="margin-right: 10px;" ng-reflect-required="" ng-reflect-name="name">
            <p *ngIf=" userId?.invalid && (userId?.touched || userId?.dirty)" class="validations-TTp topPWidth">
              <span *ngIf="userId?.errors?.['required']" class="text-danger error-message-place">UserId is
                required.</span>
              <span *ngIf="userId?.errors?.['minlength']" class="text-danger error-message-place">UserId must be at least 8 characters long</span>
              <span *ngIf="userId?.errors?.['pattern']" class="text-danger error-message-place">Special
                characters are not allowed.</span>

            </p>
            <!-- <small style="color: red; font-size: 12px; font-weight: bold;">
              {{ErrMSG}}
            </small> -->

          </div>
          <div class="userid">
              <input id="searchUserId" [type]="showPassword? 'text' : 'password'" minlength="8" maxlength="16" formControlName="password"
                (keydown.space)="$event.preventDefault()" placeholder="Enter Password" required=""
                class="search-input searchTB" ng-reflect-required="" ng-reflect-name="name">
              <p class="topPWidth">
                <span *ngIf="password?.errors && password?.errors?.['weakPassword']">
                  One uppercase letter, lowercase letter, digit, and one special character.
                </span>

              </p>

              <p *ngIf="password?.invalid && (password?.touched || password?.dirty)" class="validations-TTp topPWidth">
                <span *ngIf="password?.errors?.['required']" class="text-danger error-message-place">Password is
                  required</span>
                <span *ngIf="password?.errors?.['minlength']" class="text-danger error-message-place" >Password: min 6 character.</span>
              </p>
              <div class="btn btn-outline-secondary" type="button" id="button-addon2">
                <i class="fa fa-eye-slash" *ngIf="!showPassword" (click)="toggleShow()"></i>
                <i class="fa fa-eye" *ngIf="showPassword" (click)="toggleShow()"></i>
              </div>
          </div>


        </div>
      </div>
      <button type="submit" id="search" class="btn-send add_website_btn">Add</button>
    </div>
    <div class="show-list">
      <div class="business-panel">
        <select class="business-option">
          <option value="">Choose Business</option>
          <option value="B2B">B2B</option>
          <option value="B2C">B2C</option>
        </select>
      </div>
      <div class="action-div">
        <div>
          <div class="dropdown">
            <button class="dropdown-btn" type="button" (click)="openDropdown()">Select Options </button>
            <div class="dropdown-content drpdwn" [class]="drpdwn ? 'show' : 'hide'">

              <label>
                <span style="float: left;">user </span>
                <!-- <input type="checkbox" [value]="item._id" (click)="defaultOption(item._id)"
                [checked]="defaultDomin(item._id)" style="float: right;width: 20px;" /> -->
                <input type="checkbox" [value]="" checked style="float: right;width: 20px;" />
              </label>

            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div>
    <table class="table">
      <thead class="tablehead">
        <tr>
          <th id="hWebsiteName1">Sr.No</th>
          <th id="hWebsiteName2">Name</th>
          <th id="hWebsiteName3">UserID</th>
          <th id="hWebsiteName3">Business</th>
          <th id="hWebsiteName3">Panel for</th>
          <th id="hWebsiteName3">Password</th>
          <th id="hAction" class="action">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of showPanelList; let i = index">
          <td id="websiteName" class="site">{{i + 1}}</td>
          <td id="websiteName" class="site">{{list?.name}}</td>
          <td id="websiteName" class="site">{{list?.userId}}</td>
          <td id="websiteName" class="site">{{list?.business}}</td>
          <td id="websiteName" class="site">{{list?.panelFor}}</td>
          <td id="websiteName" class="site">{{list?.password}}</td>
          <td id="multiBtn" class="action">
            <button class="action_dd" data-toggle="modal" data-target="#myModal"
              routerLink="/website-list/{{list?._id}}">
              Add Website</button>
            <button class="btn btn-warning" data-toggle="modal" (click)="updatePanelName(list)" data-target="#myModal">
              Edit</button>
            <button class="btn btn-danger mx-2" (click)="deletePostPop(list?._id)">
              Delete</button>
            <button class="btn btn-secondary" (click)="changePassword(list?._id)" data-toggle="modal"
              data-target="#changePass">
              Change Password</button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<!-- update panel popup -->
<!-- Modal -->
<div class="modal" id="myModal" role="dialog" class="modal" aria-modal="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Panel</h5>
        <i class="fa fa-window-close close-icon" aria-hidden="true" #closeRef data-dismiss="modal"></i>
      </div>
      <div class="modal-body">
        <form [formGroup]="updatePanelForm" (ngSubmit)="updatePanelData()">
          <div class="popinput">
            <div>
              <p style="text-align: left;">Panel Name :</p>
              <input #inputBox1 type="text" [(ngModel)]="inputText1"
                minlength="20" (keyup)="updateCursorPosition1($event)" formControlName="panelName"
                placeholder="Enter Panel Name">
            </div>
            <button type="submit" class="btn btn-success">Save changes</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- change password popup -->

<div id="changePass" role="dialog" class="modal" aria-modal="true">
  <div class="modal-dailog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title chnagePass">Change Password</h4>
        <i class="fa fa-window-close close-icon" aria-hidden="true" #closeRefa data-dismiss="modal"></i>
      </div>
      <div>
        <form [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()" autocomplete="off"
          class="change_pass_form ng-untouched ng-pristine ng-invalid">
          <div class="new-password"><span class="input1">New
              Password</span><input type="password" placeholder="Enter" autocomplete="false"
              formControlName="newPassword" minlength="8" maxlength="14"
              class="input1 ng-untouched ng-pristine ng-invalid inp1"><span class="must">*</span><!---->
            <p class="validations-p">
                  <small *ngIf="newPassword?.errors && newPassword?.errors?.['weakPassword']">
                    Uppercase,Lowercase,Number,Special character.
                  </small>
                </p>
                <p *ngIf="newPassword?.invalid && (newPassword?.touched || newPassword?.dirty)" class="validations-p">
                  <small *ngIf="newPassword?.errors?.['required']" class="text-danger error-message-place">New Password is
                    required</small>
                  <small *ngIf="newPassword?.errors?.['minlength']" class="text-danger error-message-place">New Password : min 6 character.</small>
                </p>
          </div>
          <div class="confirmPassword"><span class="conform-new-password">Confirm Password
            </span><input type="password" placeholder="Enter" formControlName="confirmPassword" autocomplete="false"
              minlength="8" maxlength="14" class="ng-untouched ng-pristine ng-invalid inp2"><span class="must">*</span>
            <!-- <p class="validations-p">
                    <small *ngIf="confirmPassword?.errors && confirmPassword?.errors?.['weakPassword']">
                      Uppercase,Lowercase,Number,Special character.
                    </small>
                  </p> -->
                  <p *ngIf="confirmPassword?.invalid && (confirmPassword?.touched || confirmPassword?.dirty)" class="validations-p">
                    <small *ngIf="confirmPassword?.errors?.['required']" class="text-danger error-message-place">Confirm Password is
                      required</small>
                    <small *ngIf="confirmPassword?.errors?.['minlength']">Confirm Password : min 6 character.</small>
                  </p> 
          </div>
          <div class="old-password"><span class="input1">Your Password
            </span><input type="password" placeholder="Enter" autocomplete="false" formControlName="currentPassword"
              minlength="8" maxlength="14" class="ng-untouched ng-pristine ng-invalid inp3"><span
              class="must">*</span><!---->
              <p *ngIf="currentPassword?.invalid && (currentPassword?.touched || currentPassword?.dirty)" class="validations-p">
                <small *ngIf="currentPassword?.errors?.['required']" class="text-danger error-message-place">Current Password is
                  required</small>
                <small *ngIf="currentPassword?.errors?.['minlength']">Your Password : min 6 character.</small>
              </p> 
            </div>
          <div style="text-align: center; margin-top: 13px;">
          </div>
         
          <span style="color: red; font-size: 12px; font-weight: 400;">{{errMsg}}</span>

          <div class="change_btn_box"><button type="submit" class="btn btn-primary changebtn">Change</button></div>
        </form>
      </div>
    </div>
  </div>
</div>