<app-navigation></app-navigation>
<div class="div-wrap">
    <h2>Add Website</h2>
    <form [formGroup]="addWebsite" (ngSubmit)="addData()">
      <div class="add_website_block">
        <div id="userSearchUl" class="search-wrap">
          <div class="searchbox">
            <div class="userid">
              <input id="searchUserId" type="text" formControlName="websiteURL"
                (keydown.space)="$event.preventDefault()" placeholder="Enter website" required=""
                class="search-input searchTB" style="margin-right: 10px;" ng-reflect-required="" ng-reflect-name="name">
              <!-- <p *ngIf="name?.invalid && (name?.touched || name?.dirty)" class="validations-TTp topPWidth">
                <small *ngIf="name?.errors?.['required']" class="text-danger error-message-place">name is
                  required.</small>
                <small *ngIf="name?.errors?.['minlength']">name must be at least 4 characters long</small>
                <small *ngIf="name?.errors?.['pattern']" class="text-danger error-message-place">Special
                  characters are not allowed.</small>
              </p> -->
  
            </div>
  
          </div>
        </div><button type="submit" id="search" class="btn-send add_website_btn">Add</button>
      </div>
    </form>
    <div>
      <table class="table">
        <thead class="tablehead">
          <tr>
            <th  id="hWebsiteName1" >Sr.No</th>
            <th  id="hWebsiteName2" >Website</th>
            <th  id="hWebsiteName2" >Panel Name</th>
            <th  id="hWebsiteName2" >Business</th>
            <th  id="hWebsiteName2" >Panel User</th>
            <th  id="hWebsiteName3" >Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of showWebList; let i = index">
            <td id="websiteName" class="site" >{{i + 1}}</td>
            <td id="websiteName" class="site" >{{list?.websiteURL}}</td>
            <td id="websiteName" class="site" >{{list?.motherPanelId?.name}}</td>
            <td id="websiteName" class="site" >{{list?.motherPanelId?.business}}</td>
            <td id="websiteName" class="site" >{{list?.motherPanelId?.panelFor}}</td>
            <td id="multiBtn" class="action">
              <button class="btn btn-warning" data-toggle="modal" (click)="updateWebsiteName(list)" data-target="#myModal1">
                Edit</button>
              <button class="btn btn-danger mx-2" (click)="deleteWebsitePop(list?._id)">
                Delete</button>
            </td>
          </tr>
          <tr *ngIf="showWebList?.length === 0">
            <td id="websiteName" class="site" style="text-align: center;" colspan="6"> No Data Available </td>
          </tr>
         
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal" id="myModal1" role="dialog" class="modal" aria-modal="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Website</h5>
          <i class="fa fa-window-close close-icon" aria-hidden="true" #closeRef data-dismiss="modal"></i>
        </div>
        <div class="modal-body">
          <form [formGroup]="updateWebsiteForm" (ngSubmit)="updateWebsiteData()">
            <div class="popinput">
              <div>
                <p style="text-align: left;">Website Name :</p>
                <input #inputBox1 type="text" [(ngModel)]="inputText1"
                  minlength="20" formControlName="websiteName"
                  placeholder="Enter Wesbite Name">
              </div>
              <button type="submit" class="btn btn-success">Save changes</button>
            </div>
          </form>
  
        </div>
      </div>
    </div>
  </div>